.container{
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.842);
}
.container-wraperr{
    width: 40vw;
    height: fit-content;
    max-height: 90vh;
    background-color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
}
header{
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
    background-color: #375c78;
    color: white;
}
header div{
    padding: 0.4rem 1rem;
}
header div:nth-child(1){
    width: 90%;
    text-align: left;
}
header div:nth-child(2){
    width: 10%;
    text-align: center;
    background-color: black;
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    font-size: 15px;
}
header div:nth-child(2) button{
    background-color: transparent;
    border-radius: 0;
    color: white;
    width: 100%;
    padding: 0.4rem 0;
}
.form-group{
    width: 70%;
    margin: 1rem auto;
}
.form-group label
{
    display: block;
    padding: 0.5rem 0;
}
.form-control{
    width: 100%;
    display: block;
    margin: auto;
    background-color: #f7f7f7;
    padding: 12px 20px 12px 10px;
    color: #000;
    font-weight: 300;
    box-shadow: none;
    border-radius: 0.25em;
    border: 1px solid #d2d8d8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    outline: none;

}
.submit{
    text-align: right;
}
.btn{
    background-color: #375c78;
    color: white;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 0.7rem 1.6rem;
    box-shadow: 1px 1px 1px 1px #0000004d;
    border-radius: 10px;
}
.success{
    color: green;
    padding: 0 0.4rem;
}
.failed{
    color: red;
    padding: 0 0.4rem;

}
@media screen and (max-width:850px) {
    .container-wraperr{
            width: 70vw;
    }
}
@media screen and (max-width:500px) {
    .container-wraperr{
            width: 100vw;
    }
}