.container{
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
}
.container-wrapper{
    width: calc(100% - 280px);
    margin-left: 280px;
}
.hide{
    display: none;
}
.active{
    display: block;
}
.small-wrapper{
    width: calc(100% - 280px);
}
.large-wrapper{
    width: 100%;
}
.expand{
    width: calc(100% - 70px);
    margin-left: 70px;
}
@media(max-width:1000px){
    .container-wrapper{
        width: 100%;
        margin-left: 0px;
    }
}