.data {
    height: 50vh!important;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
}
.search{
    width: 95%;
    margin: auto;
}
.search form{
    display: flex;
    width: 100%;

}
.form-group{
    width: 45%;
    margin: 1rem auto;
}
.form-control{
    width: 100%;
    display: block;
    margin: auto;
    background-color: #f7f7f7;
    padding: 12px 20px 12px 10px;
    color: #000;
    font-weight: 300;
    box-shadow: none;
    border-radius: 0.25em;
    border: 1px solid #d2d8d8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    outline: none;

}
.submit button{
    color: black;
    text-align: right;
    background-color: transparent;
    padding: 0;
}
@media (max-width:650px){
    .search form,.row{
        display: block!important;
    }
    .form-group{
        width: 100%!important;
    }
    .tableheader{
      display: none!important;
    }
    .tablebody{
      display: block!important;
    }
    .tablebody div{
        width: 100%!important;
      }
    .submit,.tablebody div:nth-child(5){
        text-align: center!important;
      }
  }