<div class="header">
    <h2>Schedules</h2>
    <button (click)="add()" class="addbtn">Add</button>
</div>
<div class="search">
    <form [formGroup]="formdata" #form="ngForm">
        <div class="row">
            <div class="form-group">
                <label>Date</label>
                <input type="date" class="form-control" formControlName="date"
                [ngClass]="{'is-invalid':(datecontrol.errors&&datecontrol.touched)||(datecontrol.errors&&form.submitted)}"/>
            </div>
            <div class="form-group">
                <label>Class</label>
                <select formControlName="classid" class="form-control"
                [ngClass]="{'is-invalid':(classcontrol.errors&&classcontrol.touched)||(classcontrol.errors&&form.submitted)}">
                    <option *ngFor="let item of classrooms;let i=index" value="{{i+1}}" >{{item.gradeYearName}}-{{item.name}}</option>
                </select>
            </div>
            <div class="form-group" class="submit">
                <button (click)="getschadule()"><i class="fa-solid fa-search"></i></button>
            </div>
        </div>
    </form>
</div>
<ng-container *ngIf="sessions.length>0">
    <div class="tableheader">
        <div>No</div>
        <div>Day</div>
        <div>Subject</div>
        <div>Teacher</div>
        <div></div>
    </div>
    <div class="data">
        <div *ngFor="let item of sessions" class="tablebody">
        <div>{{item.sessionNo}}</div>
        <div>{{item.scheduleDay}}</div>
        <div>{{item.subjectName}}</div>
        <div>{{item.teacherName}}</div>
        <div>
            <button (click)="edit(item)" style="color:green"><i class="fa-solid fa-edit"></i></button>
            <button (click)="delete(item.scheduleID)" style="color:red"><i class="fa-solid fa-trash"></i></button>
        </div>
        </div>
    </div>  
</ng-container>        
<ng-container *ngIf="sessions.length==0">
    <div class="notfoundbody">
        Not Found
    </div>
</ng-container>