.container-wraperr{
    width: 80%!important;
    height: 86vh!important;
    overflow: auto!important;
}
.container-wraperr::-webkit-scrollbar{
    width: 0px;
}
.schadule-data{
    display: flex;
}
.schadule-data form{
    width: 40%;
    overflow-x: hidden;
    overflow-y: auto;
}
.schadule-table{
    width: 60%;
}