<div class="header">
    <h2>Grade Years</h2>
    <button (click)="add()" class="addbtn">Add</button>
</div>
<ng-container *ngIf="gradyears.length>0">
    <div class="tableheader">
        <div>Name</div>
        <div>Fee</div>
        <div>Action</div>
    </div>
    <div class="data">
        <div *ngFor="let item of gradyears" class="tablebody">
        <div>
            {{item.name}}
        </div>
        <div>
            {{item.fees}}
        </div>
        <div>
            <span>{{deletemess}}</span>
            <button (click)="delete(item.id)"><i class="fa-solid fa-trash fa-2" style="color: red;"></i></button>
        </div>
        </div>
    </div>  
</ng-container>        
<ng-container *ngIf="gradyears.length==0">
    <div class="notfoundbody">
        Not Found
    </div>
</ng-container>