form{
    padding: 1rem 0.5rem;
}
.form-group{
    display: flex;
    width: 80%;
    position: relative;
    margin: 1.4em auto 0 auto;
}
.form-group p{
    overflow-wrap: break-word;

}
.alert::before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 53px;
    margin: 0 0.1rem;
    background-color: #a7afaf;
}
.invalid{
    width: 80%;
    margin: auto;
}
.input-group-text,button{
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 0 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    border-radius: 0;
    color:#a7afaf;
  }
button{
    right: 0;
    background-color:transparent;
    border-radius: 0;
  }
.form-control{
    display: inline-block;
    width: 100%;
    background-color: #f7f7f7;
    padding: 12px 20px 12px 50px;
    color: #000;
    font-weight: 300;
    box-shadow: none;
    border-radius: 0.25em;
    border: 1px solid #d2d8d8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    outline: none;

}
input[type=checkbox]{
    display: inline-block;
    margin: 0 1rem ;
}
.check-sec{
    line-height: 0;
}
.remebercheck{
    position: absolute;
    top: 0px;
    padding:0.6rem;
    border: 1px solid #cbc6c69e;
    background-color: white;
}
#rememberme{
    margin: 0px;
    margin-right: 0.6rem;
    padding: 0px;
    height: 15px;
}
.remebercheck + label{
    padding-left: 0.3rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 1.4rem;
}
#rememberme:checked + .remebercheck{
    background-color: #0075ff;
}
#rememberme:checked + .remebercheck::after{
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}
.resetbtn{
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
    border: none;
    outline: none;
    background: #0069ba;
    color: white;
    font-family: 'baloo';
    border-radius: 0.25rem;
}

