<ng-container>
    <div class="container">
        <div class="pic">
            <i class="fas fa-user"></i>
        </div>
        <h2 class="title">Forget Password</h2>
        <form (ngSubmit)="changepassword(changepass)" #changepass="ngForm" class="form">
            <div class="form-group">
                <label for="email" class="input-group-text">
                    <span class="fa-sharp fa-solid fa-envelope"></span>
                </label>
                <input type="email" class="form-control"   
                placeholder="Email" #email="ngModel" ngModel name="email" id="email" required
                [ngClass]="{'is-invalid':(email.errors&&email.touched)||(email.errors&&changepass.submitted)}"/>
            </div>
            <div *ngIf="(email.errors&&changepass.submitted)||(email.errors&&email.touched)" class="invalid">
                <p *ngIf="email.errors['required']" class="invalid-feedback">email is required</p>
                <p *ngIf="email.errors['email']" class="invalid-feedback">invalid email</p>
            </div>
            <ng-container *ngIf="formresponce==true">
                <div class="form-group">
                    <app-messagerespnce [message]="message" [type]="typemess"></app-messagerespnce>
                </div>
            </ng-container>
            <div class="form-group" [ngClass]="{'loading':loadflag&&changepass.valid}">
                <input type="submit" value="Reset Password" class="resetbtn" [disabled]="loadflag" />
            </div>
        </form>
    </div>
</ng-container>
<a [routerLink]="'../login'" class="form-link" style="text-align:center;">back login?</a>


