
<form (ngSubmit)="changepassword(changepass)" #changepass="ngForm">
    <h2 class="title">Forget Password</h2>
    <div class="form-group">
                <label for="email" class="input-group-text">
                    <span class="fa-sharp fa-solid fa-envelope"></span>
                </label>
                <input type="email" class="form-control"   
                placeholder="Email" #email="ngModel" ngModel name="email" id="email" required
                [ngClass]="{'is-invalid':(email.errors&&email.touched)||(email.errors&&changepass.submitted)}"/>
    </div>
    <div *ngIf="(email.errors&&changepass.submitted)||(email.errors&&email.touched)" class="invalid">
                <p *ngIf="email.errors['required']" class="invalid-feedback">email is required</p>
                <p *ngIf="email.errors['email']" class="invalid-feedback">invalid email</p>
    </div>
    <ng-container *ngIf="formresponce==true">
                <div class="form-group">
                    <app-messagerespnce [message]="message" [type]="typemess"></app-messagerespnce>
                </div>
    </ng-container>
    <ng-container *ngIf="!loadflag" >
        <div class="form-group submitform" >
            <input type="submit" value="Reset Password" class="resetbtn" [disabled]="loadflag" />
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </ng-container>
    <ng-container *ngIf="loadflag">
        <app-loader></app-loader>
    </ng-container>
    <a [routerLink]="'../login'" class="form-link" style="text-align:center;">back login?</a>
</form>


