<div class="container">
	<div class="pic">
		<i class="fas fa-user"></i>
	</div>
	<h2 class="title">Reset Password</h2>
    <form (ngSubmit)="resetPassword()" [formGroup]="resetPasswordForm" #form="ngForm" class="form">
        <div class="form-group">
            <label for="password" class="input-group-text">
                <span class="fa-solid fa-lock"></span>
            </label>
            <input type="password" class="form-control"   
            placeholder="Password" formControlName="NewPassword" 
            [ngClass]="{'is-invalid':(passwordcontrol.errors&&passwordcontrol.touched)||(passwordcontrol.errors&&form.submitted)}"/>
        </div>
        <div *ngIf="(passwordcontrol.errors&&form.submitted)||(passwordcontrol.errors&&passwordcontrol.touched)" class="invalid">
            <p *ngIf="passwordcontrol.errors['required']" class="invalid-feedback">password is required</p>
            <p *ngIf="passwordcontrol.errors['pattern']" class="invalid-feedback">invalid password</p>
        </div>
        <div class="form-group">
            <label for="confirmpassword" class="input-group-text">
                <span class="fa-solid fa-lock"></span>
            </label>
            <input type="password" class="form-control"   
            placeholder="confirm Password" formControlName="ConfirmPassword" (change)="checkpassword()"
            [ngClass]="{'is-invalid':(confirmpasswordcontrol.errors&&confirmpasswordcontrol.touched)||(confirmpasswordcontrol.errors&&form.submitted)}"/>
        </div>
        <div *ngIf="(confirmpasswordcontrol.errors&&form.submitted)||(confirmpasswordcontrol.errors&&confirmpasswordcontrol.touched)" class="invalid">
            <p *ngIf="confirmpasswordcontrol.errors['required']" class="invalid-feedback">confirmpassword is required</p>
            <p *ngIf="confirmpasswordcontrol.errors['pattern']" class="invalid-feedback">invalid confirmpassword</p>
            <p *ngIf="confirmpasswordcontrol.errors['notmatch']" class="invalid-feedback">not matched</p>
        </div>
        <div class="form-group" *ngIf="typemessage!=''">
            <app-messagerespnce [message]="message" [type]="typemessage"></app-messagerespnce>
        </div>
        <div class="form-group" [ngClass]="{'loading':load}">
            <input type="submit" value="Reset" class="loginbtn" [disabled]="load" />
        </div>

    </form>
</div>
