.container-wraperr{
    width: 100vw;
    height: 100vh;
}
main{
    display: flex;
    width: 100%;
    margin: 1rem auto;
}
main div:nth-child(1){
    display: flex;
    width: 50%;
}
main div:nth-child(2){
    width: 50%;
}
main div:nth-child(1) button{
    display: block;
    background-color: transparent;
    height: 100%;
    color: black;
    border-radius: 0;
}
main div:nth-child(1) img{
    display: block;
    width: 90%;
}
table{
    text-align: left;
    display: block;
    width: 80%;
    margin: auto;
}
table tr td,table tr th{
    width: 200px;
}
table tr td{
    padding-left:1rem ;
}
table tr td input[type='text']{
    padding: 0.5rem 0.3rem;
}
table tr th{
    padding: 1rem;
    background-color: black;
    color: white;
    font-weight: 700;
    border-bottom: 1px solid white;
}
form .rowbtn{
    display: flex;
    justify-content:end; 
    padding: 0 1rem; 
}
.btnaccept{
    border-radius: 0;
    background-color: green;
    margin: 0 0.3rem;
    padding: 0.7rem 1.6rem;
    box-shadow: 1px 1px 1px 1px #0000004d;
    border-radius: 10px;
}
.btnrefuse{
    border-radius: 0;
    background-color: rgb(143, 4, 4);
    margin: 0 0.3rem;
    padding: 0.7rem 1.6rem;
    box-shadow: 1px 1px 1px 1px #0000004d;
    border-radius: 10px;

}