.container{
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.642);
}
.container-wraperr{
    width: 90vw;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
}
.closebtn{
    background-color: transparent;
    display: block;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    font-size: 15px;
}

.container-wraperr p{
    text-align: center;
    font-size: 2em;
    padding: 1rem 0;
}
.row{
    display: flex;
    justify-content:space-evenly;    
}
.col-md-4{
    width: 30%;
}
.row .col-md-4 table{
    width: 90%;
    height: 20vh;
    overflow-x: auto;
    overflow-y: auto;
}
.row .col-md-4 table tr td  p,.row .col-md-4 table tr th{
    text-align: left;
    font-size: 1em;
    padding: 0.5rem 0;
}
.rowbtn{
    display: flex;
    justify-content:end; 
    padding: 0 1rem; 
}
.btnaccept{
    border-radius: 0;
    background-color: green;
    margin: 0 0.3rem ;
}
.btnrefuse{
    border-radius: 0;
    background-color: rgb(143, 4, 4);
    margin: 0 0.3rem ;
}