nav{
    max-height: 100vh;
    min-height: 100vh;
    width: 280px;
    overflow:hidden;
    background-color: aliceblue;
    /* box-shadow: -20px 1px 20px 10px #0000007d; */
}
.logo{
    width: 100%;
    height: 180px;
    position: relative;
}
.logo img{
    display: block;
    width:90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
nav ul{
    max-height: calc(100vh - 180px);
    min-height: fit-content;
    overflow-y: auto;
}
nav ul li{
    padding: 1rem;
    font-size: 20px;
}
nav ul li i{
    padding: 0 0.3rem;
}
.active{
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    margin-left: 15px;
}
::-webkit-scrollbar {
    width: 0px;
  }
input[type="checkbox"]{
    position: absolute;
    z-index: -999;
}
.logo label{
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    text-align: right;
    font-size: 25px;
    padding: 0.5rem 1rem;
}
@media(max-width:800px){
    nav{
        position: fixed;
        z-index: 10;
    }
}