<div>
    <ng-container *ngIf="formresponce==false">
        <form (ngSubmit)="changepassword(newpass)" #newpass="ngForm">
            <div class="form-group">
                <label for="password" class="input-group-text">
                    <span class="fa-solid fa-lock"></span>
                </label>
                <input [type]="typepassword" class="form-control"  placeholder="new password" #password="ngModel" ngModel name="password" id="password" required
                [ngClass]="{'is-invalid':(password.errors&&password.touched)||(password.errors&&newpass.submitted)}"/>
                <button (click)="changetypepassword()"><i class="fa-solid fa-eye"></i></button>
            </div>
            <div *ngIf="(password.errors&&newpass.submitted)||(password.errors&&password.touched)" class="invalid">
                <p *ngIf="password.errors['required']" class="invalid-feedback">password is required</p>
            </div>
            <div class="form-group" [ngClass]="{'loading':loadflag&&newpass.valid}">
                <input type="submit" value="Reset Password" class="resetbtn" [disabled]="loadflag" />
            </div>
        </form>
    </ng-container>
    </div>
    <ng-container *ngIf="formresponce==true">
        <div *ngIf="typemess=='success'then success;else failed"></div>
        <ng-template #success>
            <app-messagerespnce [message]="message" [type]="typemess"></app-messagerespnce>
        </ng-template>
        <ng-template #failed>
            <app-messagerespnce [message]="message" [type]="typemess"></app-messagerespnce>
        </ng-template>
    </ng-container>