<div class="main">
    <form [formGroup]="changepasswordform" (ngSubmit)="changepassword(newpass)" #newpass="ngForm" class="container">
        <h2>Change Password</h2>
        <div class="form-group">
                <label for="email" class="input-group-text">
                    <span class="fa-solid fa-mail-user"></span>
                </label>
                <input type="email" id="email" class="form-control"  placeholder="email" formControlName="email"
                [ngClass]="{'is-invalid':(emailControl.errors&&emailControl.touched)||(emailControl.errors&&newpass.submitted)}"/>
            </div>
            <div *ngIf="(emailControl.errors&&newpass.submitted)||(emailControl.errors&&emailControl.touched)" class="invalid">
                <p *ngIf="emailControl.errors['required']" class="invalid-feedback">email is required</p>
                <p *ngIf="emailControl.errors['email']" class="invalid-feedback">email is invalid</p>
            </div>
            <div class="form-group">
                <label for="password" class="input-group-text">
                    <span class="fa-solid fa-lock"></span>
                </label>
                <input type="password" id="password" class="form-control"  placeholder="old password" formControlName="oldPassword"
                [ngClass]="{'is-invalid':(oldPasswordControl.errors&&oldPasswordControl.touched)||(oldPasswordControl.errors&&newpass.submitted)}"/>
            </div>
            <div *ngIf="(oldPasswordControl.errors&&newpass.submitted)||(oldPasswordControl.errors&&oldPasswordControl.touched)" class="invalid">
                <p *ngIf="oldPasswordControl.errors['required']" class="invalid-feedback">old password is required</p>
            </div>
            <div class="form-group">
                <label for="newpassword" class="input-group-text">
                    <span class="fa-solid fa-lock"></span>
                </label>
                <input type="password" id="newpassword" class="form-control" formControlName="newPassword"  placeholder="new password" 
                [ngClass]="{'is-invalid':(newPasswordControl.errors&&newPasswordControl.touched)||(newPasswordControl.errors&&newpass.submitted)}"/>
            </div>
            <div *ngIf="(newPasswordControl.errors&&newpass.submitted)||(newPasswordControl.errors&&newPasswordControl.touched)" class="invalid">
                <p *ngIf="newPasswordControl.errors['required']" class="invalid-feedback">new password is required</p>
                <p *ngIf="newPasswordControl.errors['pattern']" class="invalid-feedback">password must be contain<br>
                    lower and uper case char<br>
                   [@|#|$|^|&]</p>
            </div>
            <div class="form-group" [ngClass]="{'loading':loadflag&&newpass.valid}">
                <input type="submit" value="Change Password" class="resetbtn" [disabled]="loadflag" />
            </div>
    </form>
</div>
<ng-container *ngIf="typemess!=''">
    <app-messagerespnce [message]="message" [type]="typemess"></app-messagerespnce>
</ng-container>