    <form (ngSubmit)="login()" [formGroup]="loginform" #form="ngForm">
        <h2 class="title">Login</h2>
        <div class="form-group">
            <label for="email" class="input-group-text">
                <span class="fa-sharp fa-solid fa-envelope"></span>
            </label>
            <input type="email" class="form-control"   
            placeholder="Email" formControlName="email" id="email"
            [ngClass]="{'is-invalid':(emailcontrol.errors&&emailcontrol.touched)||(emailcontrol.errors&&form.submitted)}"/>
        </div>
        <div *ngIf="(emailcontrol.errors&&form.submitted)||(emailcontrol.errors&&emailcontrol.touched)" class="invalid">
            <p *ngIf="emailcontrol.errors['required']" class="invalid-feedback">email is required</p>
            <p *ngIf="emailcontrol.errors['email']" class="invalid-feedback">invalid email</p>
        </div>
        <div class="form-group">
            <label for="password" class="input-group-text">
                <span class="fa-solid fa-lock"></span>
            </label>
            <input [type]="typepassword" id="password" class="form-control"  placeholder="password" formControlName="password"
            [ngClass]="{'is-invalid':(passwordcontrol.errors&&passwordcontrol.touched)||(passwordcontrol.errors&&form.submitted)}"/>
            <label for="fa-eye" class="togglepassword">
                <i class="fa-solid fa-eye"></i>
            </label>
            <input type="button" (click)="changetypepassword()" id="fa-eye">
        </div>
        <div *ngIf="(passwordcontrol.errors&&form.submitted)||(passwordcontrol.errors&&passwordcontrol.touched)" class="invalid">
            <p *ngIf="passwordcontrol.errors['required']" class="invalid-feedback">password is required</p>
        </div>
        <span class="errmess" *ngIf="errflag">{{message}}</span>
        <a [routerLink]="'../forgetpassword'" class="form-link">Forgot Password?</a>
        <ng-container *ngIf="!loadflag" >
            <div class="form-group submitform" >
                    <input type="submit" value="Login" class="loginbtn" [disabled]="loadflag" />
                    <i class="fa-solid fa-arrow-right"></i>
            </div>
        </ng-container>
        <ng-container *ngIf="loadflag">
            <app-loader></app-loader>
        </ng-container>
        <p style="text-align: center;">You Don't Have Account? <a [routerLink]="'../register'">register</a></p>
    </form>
