.container {
    width: 100%;
    background:white;
    margin: 0!important;
    border-radius: 0!important;
    padding: 40px;
    position: relative;
    box-shadow: 0 0 0 0 transparent!important;
    position: relative;
    height: calc(100% - 60px);
}
.form {
    width: 50%;
    margin: auto;
	display: flex;
	flex-direction: column;
    box-shadow: 1px 1px 20px 0px #00000033;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3rem 0;
}

.title {
	text-align: center;
	margin-top: 30px;
}


#fa-eye{
    position: absolute;
    z-index: -9999;
}
.errmess{
    display: block;
    text-align: center;
    color: rgb(198, 32, 32);
}
.togglepassword{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.form-link{
    margin-top:0.5rem!important ;
}
@media(max-width:900px){
    .form {
        width: 70%;
    }
}
@media(max-width:600px){
    .form {
        width: 90%;
    }
}