<input type="checkbox" id="closebtn" (change)=" togglebtnfun()"/>
<div class="container" [ngClass]="{'hide':toggleflag}">
    <nav>
        <div class="logo"  >
            <span class="togglebtnsec">
                <label for="closebtn" >
                    <i class="fa-solid fa-close"></i>
                </label>
            </span>
            <span (click)="gottohome()">
                <img src="../../../../../favicon.ico"/>
                <h4>School</h4>
            </span>
        </div>
        <ul>
            <li [ngClass]="{'active':currentpage=='profile'}" (click)="gottopage('profile')">
                <i class="fa-solid fa-chalkboard-teacher"></i>
               <span> profile</span>
            </li>
            <li [ngClass]="{'active':currentpage=='student'}" (click)="gottopage('student')">
                <i class="fa-solid fa-child"></i>
               <span>Students</span>
            </li>
            <li [ngClass]="{'active':currentpage=='schadule'}" (click)="gottopage('schadule')">
                <i class="fa-solid fa-calendar"></i>
               <span>Schadule</span>
            </li>
            <li [ngClass]="{'active':currentpage=='material'}" (click)="gottopage('material')">
                <i class="fa-solid fa-book"></i>
               <span> Materials</span>
            </li>
            <li [ngClass]="{'active':currentpage=='grad'}" (click)="gottopage('grad')">
                <i class="fa-solid fa-square-poll-vertical"></i>
               <span>grads</span>
            </li>
            <li [ngClass]="{'active':currentpage=='changepassword'}" (click)="gottopage('changepassword')">
                <i class="fa-solid fa-lock"></i>
               <span>Change Password</span>
            </li>

        </ul>
    </nav>
</div>