<div class="container">
    <div class="container-wraperr">
        <header>
            <div>
              Details
            </div>
            <div>
                <button (click)="close()"><i class="fa-solid fa-close"></i></button>
            </div>
        </header>
        <main>
          <div class="images">
            <img [src]="image"/>
          </div>
          <div class="information">
            <table>
              <tr>
                <th>name</th>
                <td>
                  <p>{{teacher.fullName}}</p>
                </td>
              </tr>
              <tr>
                <th>Phone</th>
                <td>
                  <p>{{teacher.phone}}</p>
                </td>
              </tr>
              <tr>
                <th>Gender</th>
                <td>
                  <p>{{teacher.gender==0?'male':'female'}}</p>
                </td>
              </tr>  
              <tr>
                <th>Hire Date</th>
                <td>
                  <p>{{teacher.hireDate|date:'yyyy-MM-dd'}}</p>
                </td>
              </tr> 
              <tr>
                <th>Salary</th>
                <td>
                  <p>{{teacher.salary}}</p>
                </td>
              </tr> 
              <tr>
                <th>Subject</th>
                <td>
                  <p>{{teacher.subjectName}}</p>
                </td>
              </tr> 
              <tr>
                <th>Max Day Off</th>
                <td>
                  <p>{{teacher.maxDayOff}}</p>
                </td>
              </tr> 
              <tr>
                <th>Absence Days</th>
                <td>
                  <p>{{teacher.absenceDays}}</p>
                </td>
              </tr>    
            </table>
          </div>
        </main>
    </div>
  </div>