.container {
    padding: 0px 15px;
    margin: 0px auto;
}
.row{
    display: block;
}
h5{
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px
}
.row_header{
    font-size: 0.875em;
    display: block;
}
.image{
    width: 100%;
    height: 100%;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.teacher_section{
    padding:5rem 4rem;
}
.teacher_section{
    position: relative;
    background-position: top !important;
    transition: opacity .5s ease;
    overflow: hidden;
    text-align: center;
    background-image: url('../../../../../../../assets/images/bg-teacher-1.jpg') !important;
}
.teacher_custom_heading{
    font-size: 3.4375em;
    color: var(--black-color);
    line-height: 2.8125rem;
    font-family: 'Baloo';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    margin:0 0.625rem;
}
.teacher_custom_heading2{
    font-size: 1.125em;
    color: var(--gray-color);
    line-height: 1.625rem;
    margin-bottom: 1.25rem;
}
.teacher_header_image{
    margin-bottom: 2.1875rem;
}
.teacher_header_image figure{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    text-align: center;
}
.teacher_header_image>figure>div{
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    text-align: center;
}
.teacher_header_image>figure>div>img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
    width: 100%;
    text-align: center;
}
.teacher_item1,.teacher_item2,.teacher_item3{
    padding: 0px 1.5625rem;
}
.teacher_item1:hover > .teacher_item_avatar a::after,
.teacher_item2:hover > .teacher_item_avatar a::after,
.teacher_item3:hover > .teacher_item_avatar a::after{
    background-color: #0f0d0d6b;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 8;
    position: absolute;
    top:0;
}
.teacher_item_avatar{
    background-image: url('../../../../../../../assets/images/adultsPic.jpg');
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 120%;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.teacher_item2 .teacher_item_avatar{
    background-image: url('../../../../../../../assets/images/JordanLukak.jpg');
}
.teacher_item3 .teacher_item_avatar{
    background-image: url('../../../../../../../assets/images/adultsPic.jpg');
}

.teacher_item_avatar::before {
    content: "";
    width: 1px;
    height: 70px;
    background: #989898;
    left: 50%;
    bottom: -35px;
    position: absolute;
    z-index: 10;
}
.teacher_item_avatar::after,
.teacher_item2 .teacher_item_avatar::after,
.teacher_item3 .teacher_item_avatar::after{
    position: absolute;
    z-index: 9;
    right: 0;
    bottom: 0;
    content: "";
    border-left: 11.625rem solid transparent;
    border-right: 0px solid transparent;
}
.teacher_item_avatar::after {
    border-bottom: 3.75rem solid #069eed;
}
.teacher_item2 .teacher_item_avatar::after {
    border-bottom: 3.75rem solid #afb42b;
}
.teacher_item3 .teacher_item_avatar::after {
    border-bottom: 3.75rem solid #c911ba;
}
.teacher_item_content {
    position: relative;
    bottom: 0px;
    border-radius: 0 0 0.25rem 0.25rem;
    padding: 2.8125rem 0.625rem 0.9375rem 0.625rem;
}
.teacher-description {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 1.625rem;
    max-height: 3.25rem;
    margin-bottom: 0.9375rem;
}
.teacher_item_class {
    font-size: 1em;
    color: var(--main-color);
    font-weight: 400;
}
.teacher_item_socials {
    margin-top: 0.625rem;
}
.teacher_item_social{
        display: inline-block;
        margin:0.0625rem 0.1875rem;
}
.teacher_item_name a {
    color: #4b4b4b;
    font-size: 1.5625em;
    text-decoration: none;
    line-height: 1.875rem;
}
.teacher_item_name a:hover {
    color:var(--main-color);
}
.teacher_item_social a{
    width: 37px;
    height: 37px;
    text-align: center;
    line-height: 2.3125rem;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    color: #333;
    box-shadow: 0 0 1.875rem 0 rgba(0, 0, 0, 0.1);
}
.teacher_item_social a:hover{
    background: var(--main-color);
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .row{
        display: flex;
    }
    .col-4{
        width: 33.333333333%;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }

}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .teacher_item_avatar::after ,.teacher_item2 .teacher_item_avatar::after ,.teacher_item3 .teacher_item_avatar::after {
        border-left: 14.375rem solid transparent;
    }
}
