<div class="header">
    <h2>Requests</h2>
</div>
<ng-container *ngIf="allRequests.length>0">
    <div class="tableheader">
        <div></div>
        <div>Student Name</div>
        <div>student gender</div>
        <div>Parent Name</div>
        <div></div>
    </div>
    <div class="data">
        <div *ngFor="let item of allRequests" class="tablebody">
        <div>
            <img src="http://localhost:5216/{{item.studentPhotoUrl}}" class="stdimg"/>
        </div>
        <div>
            {{item.studentFirstName}}
        </div>
        <div>
            {{item.studentGender}}
        </div>
        <div>
            {{item.parentFullName}}
        </div>
        <div>
            <button class="showbtn" (click)="showdetails(item.id)">Show Details</button>
        </div>
        </div>
    </div>  
</ng-container>        
<ng-container *ngIf="allRequests.length==0">
    <div class="notfoundbody">
        Not Found
    </div>
</ng-container>