<div class="header">
    <h2>Requests</h2>
    <span>
        grade year
        <input list="grades" type="text" (change)="getdatabygradeyear($event)"/>
        <datalist placeholder="grade years" id="grades">
            <option *ngFor="let item of gradeyear" [value]="item.name">{{item.name}}</option>
        </datalist>
    </span>
</div>
<ng-container *ngIf="allRequests.length>0">
    <div class="tableheader">
        <div></div>
        <div>Student Name</div>
        <div>student gender</div>
        <div>Parent Name</div>
        <div></div>
    </div>
    <div class="data">
        <div *ngFor="let item of allRequests" class="tablebody">
        <div>
            <img src="https://localhost:44309/{{item.studentPhotoUrl}}" class="stdimg"/>
        </div>
        <div>
            {{item.studentFirstName}}
        </div>
        <div>
            {{item.studentGender==1?'female':'male'}}
        </div>
        <div>
            {{item.parentFullName}}
        </div>
        <div>
            <button class="showbtn" (click)="showdetails(item.id)">Show Details</button>
        </div>
        </div>
    </div>  
</ng-container>        
<ng-container *ngIf="allRequests.length==0">
    <div class="notfoundbody">
        Not Found
    </div>
</ng-container>