<div class="header">
    <h2>Subject</h2>
    <button (click)="add()">Add</button>
</div>
<div class="data">
    <table  class="table table-hover text-left">
        <thead class="bg-black text-white">
            <tr>
                <th>Name</th>
                <th>grade year</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="subjects.length>0">
            <tr *ngFor="let item of subjects">
                <td>{{item.name}}</td>
                <td>{{item.gradeYearName}}</td>
                <td>
                    <button (click)="update(item)"><i class="fa-solid fa-edit fa-2" style="color: green;"></i></button>
                    <button (click)="delete(item.id)"><i class="fa-solid fa-trash fa-2" style="color: red;"></i></button>
                </td>
            </tr>
        </ng-container>
        <ng-container *ngIf="subjects.length==0">
            <tr>
                <td colspan="3" class="text-center">no Data</td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>


