input[type="submit"]{
    border-radius: 3px;
    border: none;
    background: var(--secondary-color);
    color: #fff;
    padding: 8px 12px;
    vertical-align: top;
    font-size: 13px;
    line-height: normal;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
position: absolute;
right: 5px;
height: 50px;
top: 5px;
width: 120px;
border-radius: 30px !important;
font-size: 15px;
font-family: 'Baloo' !important;
}
input[type="email"]:hover{
border: 1px solid var(--main-color);
}
.footer_images ul{
display: flex;
list-style: none;
justify-content: flex-start;
}
.footer_images ul li{
width: 148px;
height: 148px;
margin:0 2px;
border-radius: 10px;
position: relative;
transition: width 0.8s ease 0s;
}
.footer_images ul li:nth-last-child(1),.footer_images ul li:nth-last-child(2){
width: 0px;
height: 0px;
opacity: 0;
margin: 0;
z-index: 0;
transition: opacity 1s linear 0.5s,z-index 1s linear 0.5s,width 1s linear 0.3;
}
.footer_images ul li div{
visibility: hidden;
}
.footer_images ul li div a{
text-decoration: none;
color: white;
width: 50px;
height: 50px;
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-100%);
opacity: 0;
background-color:#544e4e5b;
text-align: center;
line-height: 50px;
transition: transform 0.5s ease-in 0s,opcity 0.5s ease-in 0s ;
}
.footer_images ul li div a:hover{
background-color: #0f0d0dad ;
}
.footer_images ul li:hover > div a{
transform: translate(-50%,-50%);
opacity: 1;
}
.footer_images ul li:hover > div {
visibility: visible;
background-color: #0f0d0d6b;
content: "";
width: 100%;
height: 100%;
position: absolute;
top: 0px;
left: 0;
z-index: 10;
border-radius: 10px;
}
.image1{
background-image: url('../../../../assets/images/boxes-photo.jpg');
}
.image2{
background-image: url('../../../../assets/images/events1.webp');
}
.image3{
background-image: url('../../../../assets/images/events2.webp');
}
.image4{
background-image: url('../../../../assets/images/courses-photo.webp');
}
.image5{
background-image: url('../../../../assets/images/event6.webp');
}
.social_row{
display: flex;
}
footer .footer_col1>.social_row>.social{
display: block;
width: 2.5em;
height: 2.5em;
border-radius: 50%;
background-color:rgba(255,255,255,0.07) ;
margin: 0 0.3rem;
text-align: center;
position: relative;
margin-bottom: 2.1875rem;
}
footer .footer_col1>.social_row>.social:hover{
background-color:rgba(255, 255, 255, 0.189) ;
}
footer .footer_col1>.social_row>.social a{
color: white;
}
footer .footer_col1>.social_row>.social a span{
display: block;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
/*--------------------------------------------*/
/* small */
@media (min-width: 768px) {
.container {
    width: 750px;
}
.row{
    display: flex;
    gap:2rem
}
.col-4{
    width: 33.333333333%;
}
.footer_col1,.footer_col2{
    width: 50%;
}
.footer_images ul li{
    width: 112px;
    height: 112px;
}
}
/* Medium */
@media (min-width: 992px) {
.container {
    width: 970px;
}
.footer_col1 .call_info{
    display: flex;
}
.footer_images ul li{
    width: 148px;
    height: 148px;
}

}
/* Large */
@media (min-width: 1200px) {
.container {
    width: 1170px;
}
.footer_images ul li{
    width: 107px;
    height: 107px;
}
.footer_images ul li:nth-last-child(1),.footer_images ul li:nth-last-child(2){
    width: 107px;
    height: 107px;
    margin:0 2px;
    transform:  translate(0px,0);
    opacity: 1;
    z-index: 1;
}

}