<footer>
    <div class="container">
        <div class="row">
            <div class="footer_col1">
                <h5>About Information</h5>
                <div class="space" style="height: 2px"><span class="space_inner"></span></div>
                <h5>
                    Lorem ipsum dolor sit amet consetuer adipiscing elit diam, sed diam nonumy nibh euismod tincidunt.
                </h5>
                <div class="space">
                    <span class="space_inner"></span>
                </div>
                <div class="row call_info">
                    <div class="call_info_col1">
                        <span class="_icon fa fa-phone"></span>
                        <h4 class="featured-box-title">03-0134024567-1</h4>
                    </div>
                    <div class="call_info_col2">
                        <span class="_icon fa fa-envelope-open"></span>
                        <h4 class="featured-box-title">Bearstheme@gmail.com</h4>
                    </div>
                </div>
                <div class="call_info_col3">
                    <span class="_icon fa fa-map-marker"></span>
                    <h4 class="featured-box-title">Street 21 York E Block 2101 Block 76 France USA</h4>
                </div>
                <div class="social_row">
                    <div class="social">
                        <a class="" href="#" title="">
                            <span class="fa-brands fa-facebook"></span>
                        </a>
                    </div>
                    <div class="social">
                        <a class="" href="#" title="">
                            <span class="fa-brands fa-twitter"></span>
                        </a>
                    </div>
                    <div class="social">
                        <a class="" href="#" title="">
                            <span class="fa-brands fa-google"></span>
                        </a>
                    </div>
                    <div class="social">
                        <a class="" href="#" title="">
                            <span class="fa-brands fa-vimeo"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer_col2">
                <h5>Subscribe Newsletter</h5>
                <div class="space" style="height: 2px"><span class="space_inner"></span></div>
                <h5>
                    Subscribe Newsletter and get new updates.
                </h5>
                <div class="space"><span class="space_inner"></span></div>
                <div class="form_footer">
                    <form class="tnp-form" action="" method="post">
                        <input type="hidden" name="nr" value="widget-minimal"><input class="tnp-email" type="email" required="" name="ne" value="" placeholder="Email address"/>
                        <input class="tnp-submit" type="submit" value="SUBSCRIBE">
                    </form>
                </div>
                <article class="footer_images">
                    <ul>
                        <li class="image image1">
                            <div>
                                <a href="#">
                                    <span class="fa fa-search"></span>
                                </a>
                            </div>
                        </li>
                        <li class="image image2">
                            <div>
                                <a href="#">
                                    <span class="fa fa-search"></span>
                                </a>
                            </div>
                        </li>
                        <li class="image image3">
                            <div>
                                <a href="#">
                                    <span class="fa fa-search">
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="image image4">
                            <div>
                                <a href="#">
                                    <span class="fa fa-search"></span>
                                </a>
                            </div>
                        </li>
                        <li class="image image5">
                            <div>
                                <a href="#">
                                    <span class="fa fa-search"></span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</footer>