/* navbar header */
header{
  background-color: var(--secondary-color);
  color: white;
  padding-block: 20px;
  height: 60px;
}
header .container {
  display: flex;
  justify-content: space-between;
}
header .container section{
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

header .container section:last-of-type::before{
  content:"";
  border-left: 3px solid white;
  height: 100%;
  padding-left: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
header .container section:last-of-type p {
  cursor: pointer;
  color: white;
}
header .container section  p a {
  color: white;
}
@media (max-width: 767px) {
  header .container{
      justify-content: end;
  }
  header .container section:first-of-type{
      display: none;
  }
}
/* main navbar */
nav{
  /* position: fixed; */
  width: 100%;
  box-shadow: 1px 4px 7px 2px #e9e9e9;
  height: 90px;
  display: flex;
  align-items: center;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav section {
  display: flex;
  align-items: center;
  gap: 30px;
}
nav ul{
  display: flex;
  gap: 10px;
  text-transform: capitalize;
  cursor: pointer;
}
nav ul a {
  color: black;
  font-size: 18px;
}
nav ul li a:hover, nav ul .active{
  color: var(--main-color);
}
nav svg {
  cursor: pointer;
}
nav .bars{
  display: none;
}

nav button:hover{
  background-color: var(--main-color-dark);
}
/* Medium */
@media (max-width: 992px) {
  nav ul{
      display: none;
  }
  nav button{
      display: none;
  }
  nav .bars{
      display: block;
  }
}
