<header>
    <div>
        <label for="togglebtn">
            <i class="fa-solid fa-bars" ></i>
        </label>
        <input type="checkbox" id="togglebtn" name="togglebtn" (change)="togglebtnfun($event)"/>
    </div>
    <div class="searchsec">
        <label><i class="fa-solid fa-search"></i></label>
        <input type="text" placeholder="search" class="search"/>
    </div>
    <div class="logoutsec">
        <label for="logoutbtn">
            <i class="fa-solid fa-arrow-down"></i>
        </label>
        <input type="checkbox" id="logoutbtn"/>
        <ul>
            <li (click)="logout()">logout</li>
        </ul>
    </div>
</header>