<ng-container *ngIf="schadules.length>0">
    <div class="tableheader">
        <div>Class</div>
        <div>Day</div>
        <div>Subject</div>
        <div>Teacher</div>
        <div>Session</div>
    </div>
    <div class="data">
        <div *ngFor="let item of schadules;let i=index" class="tablebody">
            <div>{{item.classRoomName}}</div>
            <div>{{item.day|date:'short'}}</div>
            <div>{{item.sessions.subjectName}}</div>
            <div>{{item.sessions.teacherName}}</div>
            <div>{{item.sessions.sessionNo}}</div>
            <div>
                <button (click)="delete(i)"><i class="fa-solid fa-trash fa-2" style="color: red;"></i></button>
            </div>
        </div>
    </div>  
    <div class="save">
        <span>{{mess}}</span>
        <button (click)="save()">Save</button>
    </div>
</ng-container>
<ng-container *ngIf="schadules.length==0">
    <div class="notfoundbody">
        Not Found
    </div>
</ng-container>