<ng-container *ngIf="schadules.length>0">
    <table class="table">
        <thead>
            <th>Class Room</th>
            <th>Day</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Session Num</th>
        </thead>
        <tbody>
                <tr *ngFor="let item of schadules">
                    <td>{{item.classRoomName}}</td>
                    <td>{{item.day|date:'short'}}</td>
                    <td>{{item.sessions.subjectName}}</td>
                    <td>{{item.sessions.teacherName}}</td>
                    <td>{{item.sessions.sessionNo}}</td>
                </tr>
        </tbody>
    </table>
    <button (click)="save()">submit</button>
</ng-container>