/* .landing-page */
.landing-page{
  background-image: url(../../../../../../../assets/images/LandingPhoto.jpg);
  height: calc(100vh - 90px - 60px );
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  color: white;
  background-position: 60%;
  font-size: 35px;

}
.landing-page p:first-of-type{
  color:var(--secondary-color) ;
}
.landing-page p:first-of-type span{
color: white;
}
.landing-page p:nth-child(2) span{
color: #f1154e;
}
.landing-page p:nth-child(3) {
color: #bc22b3;
}
.landing-page p:last-of-type {
font-size: 20px;
display: flex;
align-items: center;

flex-direction: column;
gap: 20px;
margin-top: 30px;
}
.landing-page p:last-of-type button {
background-color: black;
padding-inline: 30px;
display: flex;
align-items: center;
gap: 10px;
font-size: 18px;
}
.landing-page p:last-of-type button:hover {
  background-color:var(--black-color); ;
}

@media (min-width: 768px) {
  .landing-page{
  background-position: 50% 50%;
  font-size: 53px;
  }
  .landing-page p:last-of-type {
      gap: 80px;
      flex-direction: row;
      margin-top: 0;
  }

}

