<div class="container">
    <div class="container-wraperr">
        <header>Grade Year</header>
        <button class="closebtn" (click)="close()"><i class="fa-solid fa-close"></i></button>
        <form [formGroup]="gradeyear" #form="ngForm" (ngSubmit)="addgradeyear()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control"
                [ngClass]="{'is-invalid':(namecontrol.errors&&namecontrol.touched)||(namecontrol.errors&&form.submitted)}"/>
                <div *ngIf="(namecontrol.errors&&form.submitted)||(namecontrol.errors&&namecontrol.touched)" class="invalid">
                    <p *ngIf="namecontrol.errors['required']" class="invalid-feedback">name is required</p>
                    <p *ngIf="namecontrol.errors['minlength']" class="invalid-feedback">minlength is 3 char</p>
                    <p *ngIf="namecontrol.errors['maxlength']" class="invalid-feedback">minlength is 15 char</p>
                </div>
            </div>
            <div class="form-group">
                <label>fees</label>
                <input type="text" formControlName="fees" class="form-control"
                [ngClass]="{'is-invalid':(feescontrol.errors&&feescontrol.touched)||(feescontrol.errors&&form.submitted)}"/>
                <div *ngIf="(feescontrol.errors&&form.submitted)||(feescontrol.errors&&feescontrol.touched)" class="invalid">
                    <p *ngIf="feescontrol.errors['required']" class="invalid-feedback">email is required</p>
                    <p *ngIf="feescontrol.errors['pattern']" class="invalid-feedback">fee must be number</p>
                </div>
            </div>
            <div class="form-group submit">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </form>
    </div>
</div>