form{
    width: 95%;
    margin: auto;
    height: 100%;
    background-color: #8080802e;
}
form header div span:nth-child(1){
    display: inline-block;
    padding: 1rem;
}
form header div
{
    border-bottom: 1px solid #8080803d;
}
input[type="text"]{
    outline: none;
    border: none;
    background-color: transparent;
    width: calc(100% - 6rem);
    padding: 1rem 0;
}
main{
    height:calc(100% - 12.7rem)
}
textarea{
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 15px;
    background-color:#d5cfcf00;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: gray;
}
footer span:nth-child(1) img{
    width: 50px;
    height: 50px;
    visibility: hidden;
}
.show{
    visibility: visible!important;
}
input[type="submit"]{
    background-color: transparent;
    padding: 1rem;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

i{
    line-height: 3;
    color: white;
}
.invalid{
    color: #dc3545;
}
.message{
    position: absolute;
    top: 0;
    right: 0;
    background: aliceblue;
}