 <div class="header">
    <h2>Teachers</h2>
    <span>
        <button (click)="add()" class="addbtn">Add</button>
        <button (click)="takeattandance()" class="addbtn">Take Attandance</button>
    </span>
</div>
<ng-container *ngIf="teachers.length>0">
    <div class="tableheader">
        <div>Name</div>
        <div>subject</div>
        <div>absence Days</div>
        <div>salary</div>
        <div>Action</div>
    </div>
    <div class="data">
        <div *ngFor="let item of teachers" class="tablebody">
        <div>
            {{item.FullName}}
        </div>
        <div>
            {{item.SubjectName}}
        </div>
        <div>
            {{item.AbsenceDays}}
        </div>
        <div>
            {{item.Salary}}
        </div>
        <div>
            <button (click)="showdetails(item)"><i class="fa-solid fa-display fa-2" style="color: #e7840e;"></i></button>
            <button (click)="update(item)"><i class="fa-solid fa-edit fa-2" style="color: green;"></i></button>
            <button (click)="delete(item.Id)"><i class="fa-solid fa-trash fa-2" style="color: red;"></i></button>
        </div>
        </div>
    </div>  
</ng-container>        
<ng-container *ngIf="teachers.length==0">
    <div class="notfoundbody">
        Not Found
    </div>
</ng-container>