<section class="testimonials">
  <div class="container">
      <figure class="logo">
          <img src="../../../../assets/images/tes.png" alt="quote-up">
      </figure>
      <h2>What Parents Said?</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quas tempora aliquam earum! Harum,
          sit, natus distinctio neque vel, unde voluptates nisi libero quis enim dolor. Ex eligendi ullam vel?</p>
      <div class="btn-group">
          <i class="fa-solid fa-chevron-left arrow"></i>
          <button class="active">
              <img src="../../../../assets/images/adultsPic.jpg" alt="">

              <div class="text">
                  <p>Father name</p>
                  <p>Student name</p>
              </div>
          </button>
          <button>
              <img src="../../../../assets/images/adultsPic.jpg" alt="">
              <div class="text">
                  <p>Father name</p>
                  <p>Student name</p>
              </div>
          </button>
          <button class="">
              <img src="../../../../assets/images/adultsPic.jpg" alt="">
              <div class="text">
                  <p>Father name</p>
                  <p>Student name</p>
              </div>
          </button>
          <i class="fa-solid fa-chevron-right arrow"></i>
      </div>
  </div>
</section>
