.container{
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 10;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.642);
}
.container-wraperr{
    width: 40vw;
    height: 45vh;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
}
header{
    text-align: center;
    font-size: 25px;
}
.form-group{
    width: 70%;
    margin: 1rem auto;
}
.form-control{
    width: 100%;
    display: block;
    margin: auto;
    background-color: #f7f7f7;
    padding: 12px 20px 12px 10px;
    color: #000;
    font-weight: 300;
    box-shadow: none;
    border-radius: 0.25em;
    border: 1px solid #d2d8d8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    outline: none;

}
.submit{
    text-align: right;
}
.btn{
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;

}
.closebtn{
    background-color: transparent;
    display: block;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    font-size: 15px;
}
.message{
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: aliceblue;
}