.container {
    width: 80%!important;
}
.pages{
    display: flex;
    justify-content: center;
}
.pages span{
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0.4rem 1.5rem;
    cursor: pointer;
}
.pages span p:nth-child(1){
    margin: auto;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: gray;
}
.active{
    background-color: var(--main-color)!important;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form-group{
    margin: auto;
}
.col{
    width: calc(90% / 3);
    margin: 0;
}
.col2{
    width: 45%;
    margin: 0;
}
.hide{
    height: 0;
    visibility: hidden;
}
.studentimage,.parentimage,.birthdateimage{
    text-align: center;
    margin:1rem 0;
}
.studentimage label img,.parentimage label img,.birthdateimage label img {
    width: 10rem;
    height: 10rem;
}
input[type="file"]{
    position: absolute;
    z-index: -1000;
}
.responce{
    width: 400px;
    box-shadow: 1px 0px 2px 0px #0000004a;
    position: fixed;
    right: 0;
    top: 10px;
    background-color: #63a9e345;
}
@media screen and (max-width:1000px) {
    .container{
        width: 75%!important;;
    }
}
@media screen and (max-width: 850px){
    .col,.col2{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}