<div class="container">
    <div class="container-wraperr">
        <header>
            <div>
                Absence Students
            </div>
            <div>
                <button (click)="close()"><i class="fa-solid fa-close"></i></button>
            </div>
        </header>
        <ng-container *ngIf="absance.length>0">
            <div class="tableheader">
                <div>Class</div>
                <div>Name</div>
                <div>Max</div>
                <div>Absence</div>
                <div>Address</div>
                <div>Fees</div>
            </div>
            <div class="data">
                <div *ngFor="let absance of absance" class="tablebody">
                    <div>{{absance.ClassRoomName}}</div>
                    <div>{{absance.StudentFirstName}}</div>
                    <div>{{absance.MaxDayOff}}</div>
                    <div>{{absance.AbsenceDays}}</div>
                    <div>{{absance.Address}}</div>
                    <div>{{absance.Fees}}</div>
                </div>
            </div>
        </ng-container>        
        <ng-container *ngIf="absance.length==0">
            <div class="notfoundbody">
                Not Found
            </div>
        </ng-container>
    </div>
</div>