<section class="bright-future">
  <div class="container">
    <div class="left-side">
        <img src="../../../../assets/images/courses-photo.webp" alt="kids-future">
    </div>
      <div class="right-side">
        <h2>
            WELCOME TO THE <span>BRIGHT FUTURE</span> OF KIDS
        </h2>
          <div class="text">
              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sequi quas doloremque
                  exercitationem voluptates minus, saepe nobis reiciendis est! Odio, doloremque laboriosam sit
                  totam nesciunt esse obcaecati facilis delectus iure.
              </p>
          </div>
      </div>
  </div>
</section>
