<section class="bright-future">
  <div class="container">
      <p>
          Join our Journey of dicovery
      </p>
      <h2>
          WELCOME TO THE <span>BRIGHT FUTURE</span> OF KIDS
      </h2>
      <div class="content">
          <div class="text">

              <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo sequi quas doloremque
                  exercitationem voluptates minus, saepe nobis reiciendis est! Odio, doloremque laboriosam sit
                  totam nesciunt esse obcaecati facilis delectus iure.
              </p>
              <button>
                  View Location
              </button>
          </div>
          <img src="../../../../assets/images/courses-photo.webp" alt="kids-future">
      </div>
  </div>
</section>
