.container {
    width: 50%;
    margin: 5rem auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px -1px 20px 0px #2c27273b;
}

.pic {
	position: absolute;
	top: 0;
	left: 50%;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	line-height: 60px;
    border: 10px solid #064b80;
    background: linear-gradient(to right, #5291c1, #63a9e3);
	transform: translate(-50%, -50%);
}

.form {
	display: flex;
	flex-direction: column;
}

.title {
	text-align: center;
	margin-top: 30px;
}
form{
    padding: 1rem 0.5rem;
}
.form-group{
    display: flex;
    width: 80%;
    position: relative;
    margin: 1.4em auto 0 auto;
}
.form-group p{
    overflow-wrap: break-word;

}
.invalid{
    width: 80%;
    margin: auto;
}
.input-group-text{
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 0 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    border-radius: 0;
    color:#a7afaf;
  }
.form-control{
    display: inline-block;
    width: 100%;
    background-color: #f7f7f7;
    padding: 12px 20px 12px 50px;
    color: #000;
    font-weight: 300;
    box-shadow: none;
    border-radius: 0.25em;
    border: 1px solid #d2d8d8;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
    outline: none;

}
.resetbtn,.loginbtn,.registerbtn{
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 18px;
    border: none;
    outline: none;
    background: #324864;
    color: white;
    font-family: 'baloo';
    border-radius: 0.25rem;
}
.loading::before{
    display: block;
    position: absolute;
    left: 25%;
    top: 50%;
    content: "";
    width: 65px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-50%,-50%);
    background-image: url(../../../../assets/images/Spinner.svg);
}
.form-link{
    width: 80%;
    display: block;
    margin: auto;
}
@media screen and (max-width: 700px){
    .container{
        width: 90%;
    }
}
@media screen and (max-width: 900px){
    .container{
        width: 80%;
    }
}