<section class="provider_section image">
    <div class="container">
        <div class="row_header">
                    <div class="provider_header_icon">
                        <span class="spinner_icon fa fa-spinner" style="color:#559d2d !important"></span>
                    </div>
                    <h5 class="provider_header_title">What We Provide?</h5>
                    <h4 class="provider_header_body">
                        We offer a high quality study system
                    </h4>
                    <div class="space">
                        <span class="space_inner"></span>
                    </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="c1">
                            <div>
                                <div class="provider_feature">
                                    <div class="icon-wrap">
                                        <div class="type-image">
                                            <img src="assets/images/what-we-provide6.svg" alt="#">
                                        </div>
                                    </div>
                                    <div class="provider_box_wrap">
                                        <h4 class="provider_box_title">Friendly Environment</h4>
                                        <div class="provider_box_text">
                                            Read and Write with Your Students,Build Trusting Relationships and Celebrate Achievements and Work on an Asset Model.
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-4">   
                <div class="c2">
                            <div>
                                <div class="provider_feature">
                                    <div class="icon-wrap">
                                        <div class="type-image">
                                            <img src="assets/images/what-we-provide5.svg" alt="#">
                                        </div>
                                    </div>
                                    <div class="provider_box_wrap">
                                        <h4 class="provider_box_title">Activity Rooms</h4>
                                        <div class="provider_box_text">
                                            In our activity room we have games, story racks and LED projector.children can play individual or in group work.
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-4">
                <div class="c3">
                            <div>
                                <div class="provider_feature">
                                    <div class="icon-wrap">
                                        <div class="type-image">
                                            <img src="assets/images/what-we-provide4.svg" alt="#">
                                        </div>
                                    </div>
                                    <div class="provider_box_wrap">
                                        <h4 class="provider_box_title">Art Music Group</h4>
                                        <div class="provider_box_text">
                                            We do a musical activity and competitions between students, which can be individual or in group                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="c4">
                            <div>
                                <div class="provider_feature">
                                    <div class="icon-wrap">
                                        <div class="type-image">
                                            <img src="assets/images/what-we-provide3.svg" alt="#">
                                        </div>
                                    </div>
                                    <div class="provider_box_wrap">
                                        <h4 class="provider_box_title">Full Day Sessions</h4>
                                        <div class="provider_box_text">
                                            the school day  not less than five hours
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-4">
                <div class="c5">
                            <div>
                                <div class="provider_feature">
                                    <div class="icon-wrap">
                                        <div class="type-image">
                                            <img src="assets/images/what-we-provide2.svg" alt="#">
                                        </div>
                                    </div>
                                    <div class="provider_box_wrap">
                                        <h4 class="provider_box_title">Play Games Areas</h4>
                                        <div class="provider_box_text">
                                            A variety of beautifully designed games and activity-based areas provide ample opportunities for a path of discovery.
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="col-4">
                <div class="c6">
                            <div>
                                <div class="provider_feature">
                                    <div class="icon-wrap">
                                        <div class="type-image">
                                            <img src="assets/images/what-we-provide1.svg" alt="#">
                                        </div>
                                    </div>
                                    <div class="provider_box_wrap">
                                        <h4 class="provider_box_title">Experts Staff</h4>
                                        <div class="provider_box_text">
                                            We have a large group of teachers with extensive experience in dealing with students and education                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</section>